numpy
pandas
torch
transformers
datasets
pyarrow
sacrebleu
rouge_score
nltk
bert-score
seaborn
matplotlib
sentencepiece
peft
accelerate
bitsandbytes
sentence-transformers
scikit-learn
protobuf==3.20.*